<!DOCTYPE html>
<html>
  <form action="/checkout" method = "POST">
  <h2>Name of item: <input type="text" id="item" name="item"></h2>
  <input id="submit" type="submit" value="sumbit">
</form>
</html>